/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * sloop-script-one:
 *   - http://typekit.com/eulas/00000000000000003b9ae426
 *
 * © 2009-2024 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2024-12-01 21:08:48 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=ufn4lov&ht=tk&f=30175&a=166454475&app=typekit&e=css");

@font-face {
font-family:"sloop-script-one";
src:url("https://use.typekit.net/af/e180dd/00000000000000003b9ae426/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/e180dd/00000000000000003b9ae426/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/e180dd/00000000000000003b9ae426/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

.tk-sloop-script-one { font-family: "sloop-script-one",sans-serif; }
