ul {
    list-style-type: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'IBM Plex Mono', monospace;
    padding-inline-start: 10px;
  }

  li {
    float: left;
    padding: 0 10px;
  }

  li a {
    display: block;
    padding: 8px;
    color: aliceblue;
    background-color: rgb(207, 42, 127);
    opacity: 75%;
    border-radius: 25px;
  }

  li a:link {
    background-color: rgb(162, 53, 176);
    color: white;
    opacity: 100%;
  }

  li a:active {
    background-color: darkviolet;
    opacity: 100%;
  }

  li a:hover {
    background-color: rgb(106, 186, 26);
    opacity: 100%;
    border-radius: 0px;
  }

  li:last-child {
    border-right: none;
  }

  div {
    width: 200%;
    height: 1000%;
    overflow: scroll;
    display: flex;
  }
  