body {
    background-color: black;
    padding-top: 50px;
  }


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px 30px;
    background-color: #00000000;
    font-family: Arial, sans-serif;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-sizing: border-box;
    white-space: nowrap; 
    overflow: hidden; 
  }
  

  .logo {
    display: flex;
    align-items: center;
    flex: 1; 
  }
  
  .logo-img {
    width: 50px;
    height: auto;
    margin-right: 15px;
  }
  
  .logo-text {
    font-family: 'Sloop-Script-one', sans-serif;
    
    font-size: 2rem;
    color: white;
  }
  
  .logo-link {
    display: flex;
    align-items: center;
    text-decoration: none; 
    color: inherit; 
}

  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    flex: 3; 
    justify-content: flex-end;
  }
  
  .nav-links li {
    margin: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #f6589c; 
  }

h1 {
    color: aliceblue;
    text-align: center;
}
p {
    color: aliceblue;
    text-align: center;
}